.cabecalho {
    background-color: #fff;
    padding: 25px;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

    @media (min-width: $breakpoint-md) {
        height: auto;

        .logo {
            float: left;
            margin-top: 8.5px;
        }
        .opcoes-menu {
            float: right;
            margin-top: 8.5px;

            &-lista {
                display: flex;
                margin-bottom: 0;
            }
        }
    }
}
