.pagina-conteudo {
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;

    p {
        color: $cor-leitura;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }

    @media (min-width: $breakpoint-md) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
