.logo {
    background-image: url(Assets/img/logotipo-preto.png);
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    width: 120px;
    height: 53px;
    margin: 0;
}

.logo-branco {
    background-image: url(Assets/img/logotipo-branco.png);
    padding-bottom: 30px;
}
