.pagina-conteudo {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;

     p {
    color: $cor-leitura;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    }

}
