.pagina-conteudo {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.pagina-conteudo p {
    color: #3a3a3a;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
