.servicos {
    padding: 30px 0;
    overflow: auto;

    &-item {
        text-align: center;
        margin-bottom: 50px;
        padding: 0 15px;

        @media (min-width: $breakpoint-md) {
            width: 33.333%;
            float: left;
        }
    }

    &-texto {
        color: $cor-leitura;
    }
}
