.lista-trabalhos {
    list-style: none;
    padding: 0;
}

.lista-trabalhos-item {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
}

.lista-trabalhos-item a {
    text-decoration: none;

}

.lista-trabalhos-titulo {
    color: #000;
    font-size: 18px;
    margin-left: 15px;
    border-left: 1px solid #000;
    padding-left: 10px;
}
